
.button-row {
    display: table-cell;
    width: 490px;
}
.button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}
.div-title{
    width: 50%;
    text-align: right;
}
.div-buttons{
    width: 50%;
    text-align: left;
    padding-left: 15px;
}