<div class="sign-in">
    <div class="div-title-page" >
        <h1 class="h1-title-page">Nuevo Registro</h1>
    </div>
    <mat-card class="card">
        <form [formGroup]="singupForm">
            <mat-card-content>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nombre </mat-label>
                    <input formControlName="username" type="text" matInput placeholder="Ej. Bastian">
                    <mat-error *ngIf="singupForm.controls.username.hasError('required')">
                        Nombre es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Rut </mat-label>
                    <input formControlName="rut" type="text" matInput placeholder="Ej. 11.111.111-1">
                    <mat-error *ngIf="singupForm.controls.rut.hasError('pattern') && !singupForm.controls.rut.hasError('required')">
                        Formato de rut invalido. Ej: 11.111.111-4
                    </mat-error>
                    <mat-error *ngIf="singupForm.controls.rut.hasError('required')">
                        Rut es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password </mat-label>
                    <input formControlName="password" type="password" matInput>
                    <mat-error *ngIf="singupForm.controls.password.hasError('required')">
                        Password es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
        </form>
        <mat-card-actions class="mat-card-action-center" >
            <button [disabled]="singupForm.invalid" (click)="registro()" mat-raised-button class="button-width-50">Ingresar</button>
        </mat-card-actions>
        <p>Ya tienes cuenta? Ingresa <a routerLink="/sign-in">aquí</a></p>
    </mat-card>
</div>