
  
  .mat-list-base {
    padding-top: 8px;
    display: block;
    -webkit-tap-highlight-color: transparent;
    height: inherit;
    margin-top: 0px;
}
.mat-list-option:not(.mat-list-item-disabled) {
    cursor: pointer;
    outline: none;
    height: fit-content;
    margin-bottom: 10px;
}
.mat-form-field {
    /* padding-left: 0px; */
    display: inline-block;
    position: relative;
    text-align: left;
    /* margin-left: 0px; */
    width: -webkit-fill-available;
}


.example-viewport {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    /* border: 1px solid black; */
}
  
  .example-item {
    height: 50px;
  }
